#image{  
 height: 300px;
 width: 400px;
}

/* .row{
    
} */
.add_to_chart{
    width: 200px;
    color:antiquewhite;
    background-color:#013d29;
}
.back{
    width: 100px;
    color:#013d29;
    background-color:whitesmoke;
}
.btn{
    background-color: #013d29;color: white;
}
body{
    background-color: whitesmoke;
}

#quantity{
    width: 50px; text-align: center; border-color: black;
}

.quantity_counter{
  padding-left: 1px;
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

