#image{  
 height: 300px;
 width: 400px;
}
#specify_quantity{
    display: none;
}

#login{
    display: none;
}
.add_to_chart{
    width: 200px;
    color:antiquewhite;
    background-color:#013d29;
}
.back{
    width: 100px;
    color:#013d29;
    background-color:whitesmoke;
}
.btn{
    background-color: #013d29;color: white;
}
body{
    background-color: whitesmoke;
}

#quantity{
    width: 50px; text-align: center; border-color: black;
}

.quantity_counter{
  padding-left: 1px;
}



